* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.description {
  width: 500px;
  margin-right: 40px;
  margin-top: 40px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.description-cnt {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 217, 217);

  padding: 60px;
}
.form {
  width: 500px;
  padding: 10px;
  margin-left: 30px;
  background-color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}
li {
  padding: 5px;
}
.form input {
  display: block;
}
.button {
  margin-top: 70px;
}

.bg1 {
  padding: 10px;
  margin-top: 20px;
}
.names-list {
  display: flex;
  justify-content: space-between;
}
.female-names {
  margin: 10px;
}
.male-names {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 11px;
}
.inputs {
  padding: 10px;
  margin: 10px;
}
h1,
h2,
.form p {
  color: #eaaa00;
}
p hr {
  margin-bottom: 20px;
}
.button {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #eaaa00;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.p1 {
  height: 30px;
  background-color: #eaaa00;
}
label {
  padding: 5px;
}
